html {
	background-color: black;
	color: #fff;
	font-size: 16px;
	font-family: "Poppins", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
	min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);	
}

a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}

img {
	vertical-align: middle;
}

section {	
	/* min-height: 100vh; */
	padding: 2rem 2rem;
}

/* Desktop */
@media screen and (min-width: 768px) {
  section {
    padding-top: 7rem;
		padding-bottom: 7rem;
  }
}

/* Mobile */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}