<style>
	footer {
		margin-top: auto;		
	}
	.footer_wrapper {
		display: flex;
		justify-content: center;
		padding-top: 1.25rem;
    padding-bottom: 1rem;
		background-color: #242424;		
		font-size: 0.9rem;
	}	
	.copyright {
		margin-right: 1rem;
	}
	.policies a {
		text-decoration: underline;
	}
</style>
<footer>
	<div class="footer_wrapper">
		<p class="copyright">
			&copy; Copyright Robostox 2022
		</p>
		<p class="policies">
			<a href="https://www.privacypolicies.com/live/264580d1-3ba4-4523-a365-02e9de51e0fe">Privacy Policy</a> |
			<a  href="https://danieleasterman.com">About the Creator</a>
		</p>
</div>
</footer>