<section class="hero">  
    <h1 class="hero_title">Resources for tech and crypto investors.</h1>
    <div class="hero_flex">
      <div class="hero_item">              
        <div class="icon_wrapper">          
          <i class="fab fa-facebook"></i>
        </div>
        <p class="item_title">Substack</p>  
        <p class="blurb">Click here to join the Facebook group and become a member of our tech community.</p>
        <a class="item_button" href="">Check It Out</a>
      </div>
      <div class="hero_item">
        <div class="icon_wrapper">
          <i class="fab fa-facebook"></i>
        </div>
        <p class="item_title">Slack App</p>
        <p class="blurb">Click here to join the Facebook group and become a member of our tech community.</p>
        <a class="item_button" href="">Check It Out</a>
      </div>
    </div>
</section>

