<section class="hero">  
    <h1 class="hero_title">Clear information and tools for tech and crypto investors.</h1>
    <div class="hero_flex">
      <div class="hero_item">              
        <div class="icon_wrapper">          
          <i class="fas fa-newspaper"></i>
        </div>
        <p class="item_title">Substack</p>  
        <p class="blurb">Concise, bitesize reports analysing tech stocks and crypto projects - delivered to your inbox weekly.</p>
        <a class="item_button" href="https://robostox.substack.com">Check It Out</a>
      </div>
      <div class="hero_item">
        <div class="icon_wrapper">
          <i class="fab fa-slack"></i>
        </div>
        <p class="item_title">Slack App</p>
        <p class="blurb">Easily share stock and crypto price information in Slack channels with two simple commands.</p>
        <a class="item_button" href="https://robostox-v1.herokuapp.com/slack/install">Add To Slack</a>  
      </div>
    </div>
</section>

