<style>   
  .nav_parent {
    display: flex;
    align-items: center;
    height: 4rem;
    padding-top: 2rem;    
  }  
  nav .logo_wrapper {
    position: absolute;          
  }
  nav .logo {
    width: 3.5rem;
    margin-right: 0.25rem;
    position: relative;
    top: -10px;
  }
   nav .title {
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #BA28FF
  } 
</style>

<nav role="navigation">
  <div class="container"> 
    <div class="nav_parent">
      <div class="logo_wrapper">
        <img class="logo" src="img/robot-purple.svg" alt="Robostox Logo" />
          <span class="title">Robostox</span>
      </div>    
    </div>
  </div>
</nav>