<style>   
  .nav_parent {
    display: flex;
    justify-content: center;
    height: 4.5rem;    
    background-color: #242424;
    padding-top: 1.25rem;
    border-bottom: 1px solid #141414;
  }  
  nav .logo_wrapper {
    position: absolute;          
  }
  nav .logo {
    width: 3.25rem;
    margin-right: 0.25rem;
    position: relative;
    top: -10px;
  }
   nav .title {
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
    /* color: #BA28FF; */
    color: white
  } 
</style>

<nav role="navigation">  
  <div class="nav_parent">
    <div class="logo_wrapper">
      <img class="logo" src="img/robot-white.svg" alt="Robostox Logo" />
        <span class="title">Robostox</span>
    </div>    
  </div>
</nav>